@using BioEngine.Admin.Helpers
@using Layout = AntDesign.ProLayout.Layout
@inherits LayoutComponentBase

<BasicLayout MenuData="_menuData" Theme="MenuTheme.Dark" Layout="Layout.Side" HeaderRender="false" Logo="@("/img/logo.png")">
    <ChildContent>
        @Body
    </ChildContent>
    <FooterRender>
        <GlobalFooter>
            <Copyright>
                <div>
                    BioWare Russian Community <Icon Type="copyright"/>@DateTimeOffset.UtcNow.Year Created by SonicGD
                </div>
            </Copyright>
        </GlobalFooter>
    </FooterRender>
</BasicLayout>

@* <SettingDrawer/> *@

@code
{
    private readonly MenuDataItem[] _menuData =
    {
        new()
        {
            Path = "/",
            Name = "Dashboard",
            Key = "dashboard",
            Icon = FontAwesomeHelper.IconClass("tachometer-alt"),
        },
        new()
        {
            Name = "Посты",
            Key = "posts",
            Icon = FontAwesomeHelper.IconClass("edit"),
            Children = new MenuDataItem[]
            {
                new()
                {
                    Path = "/Posts",
                    Name = "Список",
                    Key = "postslist",
                    Icon = FontAwesomeHelper.IconClass("list"),
                },
                new()
                {
                    Path = "/Posts/Add",
                    Name = "Добавить",
                    Key = "postadd",
                    Icon = FontAwesomeHelper.IconClass("plus"),
                }
            }
        },
        new()
        {
            Name = "Разделы",
            Key = "sections",
            Icon = FontAwesomeHelper.IconClass("th"),
            Children = new MenuDataItem[]
            {
                new()
                {
                    Path = "/Sections/Developers",
                    Name = "Разработчики",
                    Key = "developers",
                    Icon = FontAwesomeHelper.IconClass("users"),
                },
                new()
                {
                    Path = "/Sections/Games",
                    Name = "Игры",
                    Key = "games",
                    Icon = FontAwesomeHelper.IconClass("gamepad"),
                },
                new()
                {
                    Path = "/Sections/Topics",
                    Name = "Темы",
                    Key = "topics",
                    Icon = FontAwesomeHelper.IconClass("comments"),
                }
            }
        },
        new()
        {
            Name = "Страницы",
            Key = "pages",
            Icon = FontAwesomeHelper.IconClass("file"),
            Children = new MenuDataItem[]
            {
                new()
                {
                    Path = "/Pages",
                    Name = "Список",
                    Key = "pageslist",
                    Icon = FontAwesomeHelper.IconClass("list"),
                },
                new()
                {
                    Path = "/Pages/Add",
                    Name = "Добавить",
                    Key = "pageadd",
                    Icon = FontAwesomeHelper.IconClass("plus"),
                }
            }
        },
        new()
        {
            Name = "Сайты",
            Key = "sites",
            Icon = FontAwesomeHelper.IconClass("globe"),
            Children = new MenuDataItem[]
            {
                new()
                {
                    Path = "/Sites",
                    Name = "Список",
                    Key = "siteslist",
                    Icon = FontAwesomeHelper.IconClass("list"),
                },
                new()
                {
                    Path = "/Sites/Add",
                    Name = "Добавить",
                    Key = "siteadd",
                    Icon = FontAwesomeHelper.IconClass("plus"),
                }
            }
        },
        new()
        {
            Name = "Тэги",
            Key = "tags",
            Icon = FontAwesomeHelper.IconClass("tags"),
            Children = new MenuDataItem[]
            {
                new()
                {
                    Path = "/Tags",
                    Name = "Список",
                    Key = "tagslist",
                    Icon = FontAwesomeHelper.IconClass("list"),
                },
                new()
                {
                    Path = "/Tags/Add",
                    Name = "Добавить",
                    Key = "tagadd",
                    Icon = FontAwesomeHelper.IconClass("plus"),
                }
            }
        },
        new()
        {
            Path = "/Storage",
            Name = "Хранилище файлов",
            Key = "storage",
            Icon = FontAwesomeHelper.IconClass("database"),
        }
    };
}
