@using BioEngine.Core.Data.Entities.Blocks

@if (HtmlMode)
{
    <FormItem>
        <TextArea Placeholder="Введите HTML" AutoSize="true" @bind-Value="@Block.Data.Text"/>
    </FormItem>
    <div class="text-right">
        <a class="dashed-link" @onclick="@(() => HtmlMode = false)" @onclick:preventDefault href="#">Переключиться на редактор</a>
    </div>
}
else
{
    <FormItem>
        <CKEEditor @bind-Value="Block.Data.Text"></CKEEditor>
    </FormItem>
    <div class="text-right">
        <a class="dashed-link" @onclick="@(() => HtmlMode = true)" @onclick:preventDefault href="#">Переключиться на HTML</a>
    </div>
}

@code {

    [Parameter]
    public TextBlock Block { get; set; }

    private bool HtmlMode = false;

}
