@using System.ComponentModel.DataAnnotations
@inherits FeedbackComponent<string, string>

<div>
    <Text>Новая папка</Text>
    <Input @bind-Value="FolderName" Placeholder="Введите имя папки"/>
</div>

@code {

    private string? Config { get; set; }

    [Required]
    private string FolderName { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        Config = this.Options;
        base.OnInitialized();
    }


    public override async Task OnFeedbackOkAsync(ModalClosingEventArgs args)
    {
        if (FeedbackRef is ConfirmRef confirmRef)
        {
            confirmRef.Config.OkButtonProps.Loading = true;
            await confirmRef.UpdateConfigAsync();
        }
        else if (FeedbackRef is ModalRef modalRef)
        {
            modalRef.Config.ConfirmLoading = true;
            await modalRef.UpdateConfigAsync();
        }

        if (FolderName == Config)
            args.Cancel = true;
        else
            await OkCancelRefWithResult!.OnOk(FolderName);

        await base.OnFeedbackOkAsync(args);
    }

}
