@page "/"
@inherits BasePage
<Toolbelt.Blazor.HeadElement.Title>@PageTitle</Toolbelt.Blazor.HeadElement.Title>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Result Status="success"
                Title="Здесь будет Dashboard"
                SubTitle="Рано или поздно">
        </Result>
    </ChildContent>
</PageContainer>

@code {
    protected override string Title => "Dashboard";
}
