@page "/Storage"
@page "/Storage/{*storagePath}"
@inherits BasePage
<PageTitle>@PageTitle</PageTitle>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
            <BreadcrumbItem>@Title</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <StorageExplorer Prefix="storage" CurrentPath="@StoragePath" UseNavigation="true"></StorageExplorer>
    </ChildContent>
</PageContainer>

@code {

    [Parameter]
    public string StoragePath { get; set; }

    protected override string Title => "Файловый менеджер";
}
