@inherits BaseFormPage<BioEngine.Core.Data.Entities.Tag, Guid, TagFormModel>

@if (IsInitialized)
{
    <StickyHeader Title="@(string.IsNullOrEmpty(FormModel.Title) ? "Новый тег" : FormModel.Title)">
        <Button Type="@ButtonType.Primary" Disabled="!CanSave()" OnClick="Save">
            Сохранить
        </Button>
    </StickyHeader>
    <div class="site-layout-background" style="padding-top: 24px;">
        <Form ValidateOnChange="true" Model="FormModel" Loading="IsLoading" OnFinish="OnFinishAsync" @ref="            Form" OnFinishFailed="OnFinishFailedAsync">
            <Validator>
                <FluentValidator></FluentValidator>
                <ChangesDetector FormPage="this"></ChangesDetector>
            </Validator>
            <ChildContent>
                <FormItem Label="Тег">
                    <Input @bind-Value="@context.Title"/>
                </FormItem>
            </ChildContent>
        </Form>
    </div>
}
